body {
    background-color: rgb(113, 124, 124);
font-size: 30px;
}
.botão {
    background-color: rgb(123, 123, 241);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition:background-color 0.3s ease;
}
.botão:hover {
    background-color: rgb(95, 95, 238);
}
.cabecalho{
    background-color: black;
    padding: 30px;
    width: 97%;
    border-style: groove;
    border-color: rgb(197, 42, 75);
}
p {
    color: black;
    font-size: large;
}
    

